
.messages-center{
	margin: 0px;
	background-image: url(/assets/images/2.jpg);
	font-family: Microsoft YaHei;
	font-size: 13px;
	line-height: 12px;
	color: #666;
}

.messages-center .container div {
	display: block;
}

.messages-center p, span {
	margin: 0;
	padding: 0;
}

.messages-center a, img {
	color: inherit;
	border: 0;
	outline: 0;
	text-decoration: none;
}

.messages-center a, button, input, select, textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, .1);
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
}

.messages-center .container {
	height: 100vh;
	margin: 0 auto;
	max-width: 1143px;
	width: 980px;
	padding-left: 0px;
    padding-right: 0px;
}

.messages-center .container * {
	box-sizing: border-box;
}

.messages-center .container>div {
	display: inline-block;
}

.messages-center .container ul.list{
	padding-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.messages-center .container .space-left {
	float: left;
	height: 100%;
	width: 140px;
	background-color: rgba(255, 255, 255, 0.6);
}

.messages-center .container .space-right {
	float: right;
	height: 100%;
	width: 840px;
	background-color: rgba(255, 255, 255, 0.4);
}

.messages-center .container .space-left .side-bar {
	font-size: 15px;
	font-weight: 700;
	height: 363px;
	width: 100%;
}

.messages-center .container .side-bar .title {
	font-size: 18px;
	height: 62px;
	width: 100px;
	margin: 0 auto;
}

.messages-center .container .side-bar .title div {
	margin: 30px 0;
	float: left;
}

.messages-center .container .side-bar .title .icon {
	width: 14px;
	height: 16px;
	margin-right: 10px;
	background-color: red;
}

.messages-center .container .list li {
	height: 40px;
	position: relative;
}

.messages-center .container .list li a {
	padding-left: 10px;
	line-height: 40px;
	flex: 1;
	text-decoration: none
}

.messages-center .container .list>li a:hover {
	color: #2faee3;
	font-size: 18px;
}

.messages-center .container .space-right .space-right-top {
	height: 52px;
	padding: 10px 10px 0;
}

.messages-center .container .space-right .space-right-bottom {
	height: calc(100% - 52px);
	padding: 10px;
	overflow-y: auto;
}

.messages-center .container .space-right-top .title {
	height: 42px;
	box-shadow: 0 2px 4px 0 rgba(121, 146, 185, .54);
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	font-size: 15px;
	color: #666;
	border-radius: 4px;
	background-color: white;
}

.messages-center .container .card {
	padding: 24px 16px;
	background-color: #fff;
	margin-bottom: 10px;
	border-radius: 4px;
}

.messages-center .container .new-item {
	line-height: 24px;
	position: relative;
}

.messages-center .container .title {
	color: #333;
	font-weight: 700;
}

.messages-center .container .time {
	color: #999;
	font-size: 12px;
	line-height: 22px;
	margin: 0 10px;
}

.messages-center .container .card .bottom {
	padding-left: 8px;
}

.messages-center .container .im-dynamic-link {
	color: #0097d0;
	padding: 0 5px;
	text-decoration: none;
}

.messages-center .container .action-menu {
	position: absolute;
	z-index: 2;
}

.messages-center .container .action-menu .menu-list {
	position: absolute;
	top: 35px;
	background: #fff;
	border: 1px solid #e9eaec;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
	z-index: 2;
	transform-origin: 50% 0;
	left: calc(-54px + 50%);
	width: 106px;
}

.messages-center .container .action-menu .menu-list:before {
	position: absolute;
	top: -6px;
	left: calc(50% - 5px);
	content: "";
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 1px solid #e9eaec;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-radius: 4px;
	transform: rotate(-45deg);
}

.messages-center .container .action-menu .menu-list a {
	display: block;
	margin-bottom: 6px;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	word-break: keep-all;
}

.messages-center .container .action-menu .menu-list a:last-child {
	margin-bottom: 0;
}

.messages-center .container .action-menu a.bp-icon-font {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #999;
	/*cursor: pointer;*/
}

.messages-center .container .bp-icon-font {
	font-family: "bp-icon-font" !important;
	font-size: 14px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
}

.messages-center .container .bp-icon-font.icon-more-1:before {
	content: "\E00F";
}

.messages-center .container a:-webkit-any-link {
	cursor: pointer;
}

.messages-center .container .display {
	display: inline-block;
}

.messages-center .container .hide {
	display: none;
}

/* 我的回复模块样式*/
.messages-center .container .whisper {
	padding: 0 !important;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	height: calc(100vh - 80px);
	margin-bottom: 0 !important;
}

.messages-center .container .leaving-list {
	width: 240px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e9eaec;
}

.messages-center .container .leaving-list .list-title {
	padding-left: 24px;
	line-height: 35px;
	border-bottom: 1px solid #e9eaec;
	color: #666;
	flex-shrink: 0;
	user-select: none;
}

.messages-center .container .ps {
	touch-action: auto;
	/*  overflow: hidden!important; */
}

.messages-center .container .list-content {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	flex: 1;
}
/*留言用户的a标签样式*/
.messages-center .container .list-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 19px 24px;
	border-bottom: 1px solid #fff;
	position: relative;
	overflow: hidden;
}

.messages-center .container a.list-item:hover {
	background-color: #f4f4f4;
}

.messages-center .container .active {
	background-color: #f4f4f4;
}

.messages-center .container .list-item .avatar {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	flex-shrink: 0;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-right: 8px;
	position: relative;
	background-image:
		url("https://i2.hdslb.com/bfs/face/8b2c6caec32a9731aee253a81a0ef99c0a6396f9.jpg@42w_42h_1c.webp");
}

.messages-center .container .list-item .name-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.messages-center .container .list-item .name {
	color: #333;
	font-size: 14px;
	min-height: 16px;
	line-height: 1;
}

.messages-center .container .list-item .last-word {
	color: #999;
	padding: 8px 0;
	margin-bottom: -6px;
}

.messages-center .container .list-item .close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	transition: .3s;
}

.messages-center .container .list-item .close .close-icon {
	width: 10px;
	height: 10px;
}

.messages-center .container .dialog {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.messages-center .container .dialog .title {
	height: 36px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #e9eaec;
	position: relative;
	text-align: center;
	color: #333;
}

.messages-center .container .dialog .title span {
	font-size: 14px;
}

.messages-center .container .message-list {
	flex: 1;
	position: relative;
	overflow-y: auto; /*滚动条*/
	background-color: #f4f4f4;
	padding: 10px;
}

.messages-center .container .message-list .message-time {
	padding: 16px 0;
	text-align: center;
}

.messages-center .container .message-list .card {
	padding: 0;
	overflow: hidden;
	min-height: 48px;
	width: fit-content;
	box-shadow: white 0px 0px 10px 5px;
}

.messages-center .container .card .message {
	margin: 0 10px;
	position: relative;
	overflow: hidden;
	color: #333;
}

.messages-center .container .card .message-content {
	line-height: 1.5;
	font-size: 14px;
	padding: 8px 8px 8px 10px;
	max-width: 530px;
	word-wrap: break-word;
}

.messages-center .container .details {
	max-width: 300px;
	padding-top: 0px;
	font-size: 12px;
	padding: 0 8px 8px 10px;
	font-weight: lighter;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.messages-center .container .details-content {
	max-width: 530px;
	padding-top: 0px;
	font-size: 12px;
	padding: 0 8px 8px 10px;
	font-weight: lighter;
	word-wrap: break-word;
}

.messages-center .container .rec-leav {
	margin: 0 10px;
	display: inline-block;
	font-size: 10px;
	color: #5090cc;
	cursor: pointer;
}

.messages-center .container .textarea {
	resize: none;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	padding: 0 14px 14px;
	transition: .2s;
	font-size: 14px;
	font-family: monospace;
}

.messages-center .container .leav-message {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 24px 16px;
	margin: 50px auto;
	width: 200px;
	height: calc(100vh - 200px);
	width: calc(100vh - 200px);
}

.messages-center .container .leav-message-card {
	margin: 10px 20px 40px;
	height: 40px;
}

.messages-center .container .leav-message-card,.leav-message .card {
	padding: 10px 8px;
}

.messages-center .container .leav-message .leav-message-card .card {
	padding: 10px 8px;
}

.messages-center .container .leav-message-card .card {
	display: inline-block;
}

.messages-center .container .sel-input {
	position: relative;
	height: var(- -input-height);
}

.messages-center .container .sel-input:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 32px;
	border-left: var(- -input-border);
}

.messages-center .container .sel-input.select:after {
	border-top: solid 5px;
	border-left: solid 6px transparent;
	border-right: solid 6px transparent;
	right: 16px;
	top: 50%;
	transform: translate(50%, -50%);
	cursor: pointer;
}

.messages-center .container .sel-input.select:after {
	content: "";
	position: absolute;
}

.messages-center .container .sel-input.select input {
	padding-right: 40px;
}

.messages-center .container .leav-message-card input {
	height: var(- -input-height);
	width: 100%;
	padding: 0 14px;
}

.messages-center .container .sel-list {
	position: absolute;
	top: 32px;
	margin-top: 2px;
	right: 0;
	left: 0;
	height: auto;
	background: white;
	z-index: 9;
}

.messages-center .container .scroll-bar {
	position: absolute;
	right: 2px;
	width: 6px;
	border-radius: 4px;
	background: #ccc;
	z-index: 20;
	opacity: .8;
}

.messages-center .container .sel-list .scroll-con {
	display: block;
	padding: 2px;
	overflow: hidden;
	max-height: 166px;
}

.messages-center .container .scroll>.scroll-con {
	height: 100%;
	margin: 0;
}

.messages-center .container .sel-list li {
	display: block;
	line-height: 30px;
	margin: 1px 0;
	padding: 0 14px;
	list-style: none;
}

.messages-center .container .scroll-con li:hover {
	background-color: #f4f4f4;
}

.messages-center .container .leav-message .message-content {
	height: 320px;
	margin-bottom: 0px;
}

.messages-center .container .indicator {
	padding: 1px;
	font-size: 12px;
}

.messages-center .container .row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.messages-center .container .row.right {
	justify-content: flex-end;
	height: 43px;
	margin: 0 20px;
}

.messages-center .container .btn-box {
	cursor: pointer;
	margin: 0;
	position: relative;
	width: 88px;
	height: 30px;
	text-align: center;
	border: 1px solid #e7e7e7;
}

.messages-center .container .send-btn {
	background-color: #fff;
	border-radius: 4px;
}

.messages-center .container .clearfix {
	display: inline-block;
}
/*  Hides from IE-mac  \*/
* html .clearfix {
	height: 1%;
}

.messages-center .container .clearfix {
	display: block;
}

.messages-center .container .shoppingcar:hover>.car {
	display: block;
}

/*div 滚动条*/
.messages-center .container div::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.messages-center .container div::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .05);
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.messages-center .container div::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.messages-center .container div::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.messages-center .container div::-webkit-scrollbar-track {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: white;
}

.messages-center .container div::-webkit-scrollbar-track:hover {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
	background-color: rgba(0, 0, 0, .01);
}

.messages-center .container .recarea {
	font-size: 12px;
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100px;
	width: 600px;
	border-radius: 4px;
	padding: 5px 0 0 5px;
	font-size: 12px;
	color: #333;
	font-family: monospace;
	border: solid 1px black;
	margin: 10px;
}

.messages-center .container .grey {
	background-color: #f4f4f4;
}

.point {
	width: 7px;
	height: 7px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 25px;
	background-color: red;
}