<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxt.mapper.AdminMapper">
	
	<insert id="insert" parameterType="com.jxt.entity.Admin" useGeneratedKeys="true" keyProperty="admin_id">
		INSERT INTO ADMIN(admin_id, admin_name, admin_password, admin_auth_level) VALUES(#{adminId}, #{adminName}, #{adminPassword}, #{adminAuthLevel})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM ADMIN
		WHERE
			admin_id = #{value}
	</delete>
	
	<select id="findById" parameterType="string"
		resultType="com.jxt.entity.Admin">
		SELECT
			admin_id, admin_name, admin_auth_level, admin_password
		FROM
			ADMIN
		WHERE
			admin_id = #{value}
	</select>
	
	<update id="update" parameterType="com.jxt.entity.Admin">
		UPDATE ADMIN SET admin_name = #{adminName}, admin_password=#{adminPassword}
		WHERE
			admin_id = #{adminId}
	</update>
	
	
	
</mapper>