<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxt.mapper.AttendanceMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.Attendance" useGeneratedKeys="true" keyProperty="attend_id">
		INSERT INTO ATTENDANCE(attend_id, attend_stu_id, attend_time) VALUES(#{attendId}, #{attendStuId}, #{attendTime})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM ATTENDANCE
		WHERE
			attend_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="string"
		resultType="com.jxt.entity.Attendance">
		SELECT
			attend_id, attend_stu_id, attend_time
		FROM
			ATTENDANCE
		WHERE
			attend_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.Attendance">
		UPDATE ATTENDANCE SET attend_stu_id = #{attendStuId}, attend_time=#{attendTime}
		WHERE
			attend_id = #{attendId}
	</update>
</mapper>