<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jxt.mapper.AuthRoleMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.AuthRole" useGeneratedKeys="true" keyProperty="authRoleId">
		INSERT INTO auth_role(auth_role_id, auth_id, r_id, a_id) 
		VALUES(#{authRoleId}, #{authId}, #{rId} ,#{aId})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM auth_role
		WHERE
			auth_role_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="int"
		resultType="com.jxt.entity.AuthRole">
		SELECT
			auth_role_id, auth_id, r_id, a_id
		FROM
			auth_role
		WHERE
			auth_role_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.AuthRole">
		UPDATE auth_role SET auth_id = #{authId}, r_id=#{rId}, a_id=#{aId}
		WHERE
			auth_role_id = #{authRoleId}
	</update>
</mapper>