<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxt.mapper.AuthMapper">
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.Auth" useGeneratedKeys="true" keyProperty="authId">
		INSERT INTO auth(auth_id, auth_path) VALUES(#{authId}, #{authPath})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM auth
		WHERE
			auth_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findByRoleId" parameterType="int"
		resultType="com.jxt.entity.Auth">
		SELECT
			a.auth_id, a.auth_path
		FROM
			auth a INNER JOIN auth_role r ON r.auth_id = a.auth_id
		WHERE
			r.role_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.Auth">
		UPDATE auth SET auth_path=#{authPath}
		WHERE
			auth_id = #{authId}
	</update>
</mapper>