<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxt.mapper.MessageMapper">

	<select id="findById" resultType="com.jxt.entity.Message">
		SELECT
		a.id "account.id",
		a.email "account.email",
		a.nick_name "account.nickName",
		a.`password` "account.password",
		a.pic "account.pic",
		p.post_id,
		p.account_id,
		p.title,
		p.content,
		p.created
		FROM
		account a
		INNER JOIN post p ON a.id = p.account_id
		WHERE
		a.id = 4
	</select>
	
	<update id="insert"
		parameterType="com.jxt.entity.Message">
		UPDATE account SET message_id = #{messageId}, commenter_id = #{commenterId}, comment_target_id=#{commentTargetId}, reply_id=#{replyId}, is_read=#{isRead} 
		where commenter_id = ${id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM account WHERE id =
		#{id}
	</delete>
	
	
	
	<!-- 方法一 -->
	<!-- 
	<select id="findAll" resultType="com.hwadee.mybits.entity.Post">
		SELECT
		a.id "account.id",
		a.email "account.email",
		a.nick_name "account.nickName",
		a.`password` "account.password",
		a.pic "account.pic",
		p.post_id,
		p.account_id,
		p.title,
		p.content,
		p.created
		FROM
		account a
		INNER JOIN post p ON a.id = p.account_id
		WHERE
		a.id = 4
	</select>
	-->
	
	<!-- 方法二 -->
	<resultMap type="com.hwadee.mybits.entity.Post"
		id="postMap">
		<result column="post_id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="created" property="created" />
		<association property="account"
			javaType="com.hwadee.mybits.entity.Account">
			<id column="email" property="email" />
			<id column="password" property="password" />
			<id column="nick_name" property="nickName" />
			<id column="pic" property="pic" />
		</association>
	</resultMap>
	
	<select id="findAll" resultMap = "postMap">
		SELECT
		a.id,
		a.email,
		a.nick_name,
		a.`password`,
		a.pic,
		p.post_id,
		p.account_id,
		p.title,
		p.content,
		p.created
		FROM
		account a
		INNER JOIN post p ON a.id = p.account_id
		WHERE
		a.id = 4
	</select>
  
</mapper>