<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.jxt.mapper.NewsMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.News" useGeneratedKeys="true" keyProperty="newsId">
		INSERT INTO news(news_id, editor_id, news_title, news_create, news_content, news_word, publisher, news_modified) 
		VALUES(#{newsId}, #{editorId}, #{newsTitle}, #{newsCreate}, #{newsContent}, #{newsWord}, #{publisher}, #{newsModified})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM news
		WHERE
			news_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="int"
		resultType="com.jxt.entity.News">
		SELECT
			news_id, editor_id, news_title, news_create, news_content, news_word, publisher, news_modified
		FROM
			news
		WHERE
			news_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.News">
		UPDATE news SET news_title = #{newsTitle}, news_modified=#{newsModified}, publisher=#{publisher}, 
			news_content=#{newsContent}, news_word=#{newsWord}
		WHERE
			news_id = #{newsId}
	</update>
	
</mapper>