<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.jxt.mapper.NoticeMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.Notice" useGeneratedKeys="true" keyProperty="notice_id">
		INSERT INTO notice(notice_id, notice_title, notice_content, notice_time) VALUES(#{noticeId}, #{noticeTitle}, #{noticeContent}, #{noticeTime})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM notice
		WHERE
			notice_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="int"
		resultType="com.jxt.entity.Notice">
		SELECT
			notice_id, notice_title, notice_content, notice_time
		FROM
			notice
		WHERE
			notice_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.Notice">
		UPDATE notice SET notice_title = #{noticeTitle}, notice_content=#{noticeContent}, notice_time=#{noticeTime}
		WHERE
			notice_id = #{noticeId}
	</update>
</mapper>