<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.jxt.mapper.ParentMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.Parent" useGeneratedKeys="true" keyProperty="par_id">
		INSERT INTO PARENT(par_id, par_name, par_password, par_auth_level, par_stu_id, par_phone, par_address, par_sex) 
		VALUES(#{parId}, #{parName}, #{parPassword}, #{parAuthLevel}, #{parStuId}, #{parPhone}, , #{parAddress}, #{parSex})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM PARENT
		WHERE
			par_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="string"
		resultType="com.jxt.entity.Parent">
		SELECT
			par_id, par_name, par_password, par_auth_level, par_stu_id, par_phone, par_address, par_sex
		FROM
			PARENT
		WHERE
			par_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.Parent">
		UPDATE PARENT SET par_name = #{parName}, par_password=#{parPassword}, par_auth_level=#{parAuthLevel}
		WHERE
			par_id = #{parId}
	</update>
</mapper>