<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jxt.mapper.RewardAndPunishMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.RewardAndPunish" useGeneratedKeys="true" keyProperty="reward_and_punish_id">
		INSERT INTO REWARD_AND_PUNISH(reward_and_punish_id, reward_or_punish, rp_stu_id, rp_content, rp_time) 
		VALUES(#{rewardAndPunisId}, #{rewardOrPunis}, #{rpStuId}, #{rpContent}, #{rpTime})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM REWARD_AND_PUNISH
		WHERE
			reward_and_punish_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="string"
		resultType="com.jxt.entity.RewardAndPunish">
		SELECT
			reward_and_punish_id, reward_or_punish, rp_stu_id, rp_content, rp_time
		FROM
			REWARD_AND_PUNISH
		WHERE
			reward_and_punish_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.RewardAndPunish">
		UPDATE REWARD_AND_PUNISH SET reward_or_punish = #{rewardOrPunis}, rp_stu_id=#{rpStuId}, rp_content=#{rpContent}, rp_time=#{rpTime}
		WHERE
			reward_and_punish_id = #{rewardAndPunisId}
	</update>
</mapper>