<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jxt.mapper.RoleMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.Role" useGeneratedKeys="true" keyProperty="r_id">
		INSERT INTO role(r_id, r_name) 
		VALUES(#{rId}, #{rName})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM role
		WHERE
			r_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="int"
		resultType="com.jxt.entity.Role">
		SELECT
			r_id, r_name
		FROM
			role
		WHERE
			r_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.Role">
		UPDATE role SET r_name = #{rName}
		WHERE
			r_id = #{rId}
	</update>
</mapper>