<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.jxt.mapper.StudentMapper">
	
	 <!-- 需要修改的地方 -->
	<insert id="insert" parameterType="com.jxt.entity.Student" useGeneratedKeys="true" keyProperty="stu_id">
		INSERT INTO STUDENT(stu_id, stu_name, stu_password, stu_auth_level, stu_sex, stu_class_id) 
		VALUES(#{stuId}, #{stuName}, #{stuPassword}, #{stuAuthLevel}, #{stuSex}, #{stuClassId})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM STUDENT
		WHERE
			stu_id = #{value}
	</delete>
	
	 <!-- 需要修改的地方 -->
	<select id="findById" parameterType="string"
		resultType="com.jxt.entity.Student">
		SELECT
			stu_id, stu_name, stu_password, stu_auth_level, stu_sex, stu_class_id
		FROM
			STUDENT
		WHERE
			stu_id = #{value}
	</select>
	
	 <!-- 需要修改的地方 -->
	<update id="update" parameterType="com.jxt.entity.Student">
		UPDATE STUDENT SET stu_name = #{stuName}, stu_password=#{stuPassword}, stu_auth_level=#{stuAuthLevel}, stu_sex=#{stuSex}, stu_class_id=#{stuClassId}
		WHERE
			stu_id = #{stuId}
	</update>
</mapper>